<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

   <bean class="team.s2f.lunchroom.web.json.JacksonObjectMapper" id="objectMapper" factory-method="getMapper"/>

   <mvc:annotation-driven conversion-service="conversionService">
      <mvc:message-converters>
         <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            <property name="objectMapper" ref="objectMapper"/>
         </bean>
         <bean class="org.springframework.http.converter.StringHttpMessageConverter">
            <property name="supportedMediaTypes">
               <list>
                  <value>text/plain;charset=UTF-8</value>
                  <value>text/html;charset=UTF-8</value>
               </list>
            </property>
         </bean>
      </mvc:message-converters>
      <mvc:argument-resolvers>
         <bean class="org.springframework.security.web.method.annotation.AuthenticationPrincipalArgumentResolver "/>
      </mvc:argument-resolvers>
   </mvc:annotation-driven>

   <bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" id="conversionService">
   </bean>

   <context:component-scan base-package="team.s2f.**.web"/>

   <!-- use WebJars so Javascript and CSS libs can be declared as Maven dependencies (Bootstrap, jQuery...) -->
   <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

   <!--  Swagger2  https://medium.com/@andreymamontov/swagger-2-configuration-with-spring-xml-3cd643a12425 -->
   <bean class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration"/>
   <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />

   <!--    https://stackoverflow.com/a/23615478/548473-->
   <bean id="defaultValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
</beans>